# COPY this file to .env locally or use Render environment variables
USE_MOCK=true
CLIENT_ID=
CLIENT_SECRET=
ALLOWED_ORIGIN=
FT_TOKEN_URL=https://entreprise.francetravail.fr/connexion/oauth2/access_token?realm=/partenaire
FT_API_BASE=https://api.francetravail.io/partenaire/offresdemploi/v2
PORT=4000
