# node
node_modules/
npm-debug.log
yarn-error.log

# env
.env
.env.local
.env.*.local

# build
dist/
build/

# system
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# vercel / netlify local caches
.vercel/
.cache/
